.my-dictionary {
  width: 90%;
  margin: 0 auto;

  &__header {
    width: 90%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 20px 0;
      height: auto;
      width: 100%;
    }

    button {
      padding: 8px 15px;
      background-color: var(--button-bg-color);
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      border-radius: 4px;
      font-size: 18px;
      text-decoration: none;
      cursor: pointer;
      white-space: nowrap;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

      @media (max-width: 575.98px) {
        width: 100%;
        margin-top: 20px;
      }

      &:hover {
        color: var(--button-bg-color);
        border: 1px solid var(--bg-secondary);
        background-color: var(--bg-secondary);
      }
    }



    p {
      font-size: 24px;

      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }


  &__actions {
    display: flex;

    @media (max-width: 575.98px) {
      flex-direction: column;
      width: 100%;
    }
  }


  &__main {
    width: 60%;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.my-dictionary__modal_p {
  text-align: center;
  font-size: 24px;
}

