.dictionary{
  width: 90%;
  margin: 0 auto;

  .dictionary__header {
    width: 90%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 20px 0;
      height: auto;
      width: 100%;
    }


    button {
      padding: 8px 15px;
      background-color: var(--button-bg-color);
      color:  var(--primary-color);
      border: 1px solid var(--primary-color);
      border-radius: 4px;
      font-size: 18px;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

      &:hover {
        color: var(--button-bg-color);
        border: 1px solid var(--bg-secondary);
        background-color: var(--bg-secondary);
      }
    }

    p {
      font-size: 24px;

      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }

  .dictionary__main {
    width: 60%;
    margin: 0 auto;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}



.dictionary__modal_p {
  text-align: center;
  //color: #064676;
  font-size: 24px;
}

