.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 270px;
  margin-top: 25px;
  border: 1px solid #f8f1e5;
  color: #032c76;
  box-shadow: inset 0 0 20px 10px #d7d6d4;
  border-radius: 10px;

  p {
    font-size: 45px;
  }
}
