.notification_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #f39c1b;
  background-color: #f39c1b;
  position: absolute;
  bottom: 40px;
  right: 20px;
}
