.pages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 18px;
  margin: 5px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  outline: none;
  background-color: white;
  color: #032c76;

  &.active {
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    color: white;
  }
}

.page__link {
  text-decoration: none;
  color: #022a71;
}