
.word {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.word__eng {
  width: 35%;
  text-align: left;
  font-size: 18px;
  color: #022a71;
  font-weight: bold;
}

.word__rus {
  width: 50%;
  font-size: 18px;
}

.word__del {
  width: 20px;
  height: 20px;
  background-color: #61a5c9;
  color: white;
  cursor: pointer;
  text-align: center;
  margin-right: 20px;
}
.word__line{
  border-bottom: 1px solid grey;
}



