.word {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.word__eng {
  font-size: 18px;
  font-weight: bold;
}

.word__rus {
  font-size: 18px;
}

.word__del {
  width: 20px;
  height: 20px;
  color:  var(--primary-color);
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  margin-right: 20px;
}
.word__line {
  border-bottom: 1px solid #b8b5b5;
  margin: 5px 0;
}
