.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;

  @media (max-width: 768px) {
    margin-right: 5px;
  }
}

.nav__home,
.nav__practice,
.nav__dictionary,
.nav__my-dictionary{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 0 15px;
  font-weight: 500;
  text-decoration: none;
  color: #032c76;

  &.active {
    color: #f19307;
    border-radius: 25px;
  }
}
