//@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;

  @media (max-width: 768px) {
    margin-right: 5px;
  }
}

.nav__home,
.nav__practice,
.nav__dictionary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 24px;
  margin: 0 15px;
  font-weight: bold;
  text-decoration: none;
  color: #032c76;

  &.active {
    color: #f19307;
    border-radius: 25px;
  }
}
