.switcher {
  display: inline-block;
  height: 30px;
  margin-top: 3px;
  padding: 4px;
  background-color: #fff;
  width: 200px;
  border-radius: 30px;
  border: solid 1px #ddd;
  position: relative;
}

.switcher__input {
  display: none;
}

.switcher__label {
  float: left;
  width: 50%;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  position: inherit;
  z-index: 10;
}

.switcher__toggle {
  position: absolute;
  float: left;
  height: 30px;
  width: 50%;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
  background: #c7e7f8;
  border-radius: 30px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  left: 5px;
  top: 4px;
  transition: left 0.25s ease-out;
  will-change: transform;
}

.switcher__input_rus:checked ~ .switcher__toggle {
  left: 100px;
}